body {
	color:rgb(63,42,24);
    background-color:rgb(245,239,220);
}

.entry {
    width: 90%;
    max-width:800px;
    padding-bottom: 20px;
 
}

.entry h1 {
	font-family: Verdana, Helvetica, Arial, Times, sans-serif;

}
.entry p{
    border-left: 4px solid black;
    padding-left: 10px;
    font-family: "Lora",Georgia,"Times New Roman",Times,serif;
    font-size: 18px;
    line-height: 28px;
    text-align: justify;
}

.bernheads {
	width: 30%;
	height: auto;
}