body {
	color:rgb(63,42,24);
    background-color:rgb(245,239,220);
}

.entry {
    width: 90%;
    max-width:800px;
    padding-bottom: 20px;
 
}

.entry h1 {
	font-family: Verdana, Helvetica, Arial, Times, sans-serif;
	font-size: 26px;
	font-weight: 500;

}
.entry p{
    border-left: 4px solid black;
    padding-left: 10px;
    font-family: "Lora",Georgia,"Times New Roman",Times,serif;
    font-size: 18px;
    line-height: 28px;
    text-align: justify;
}

.bernheads {
	width: 80%;
	max-width:200px;
	height: auto;
}

.introduction {
	width: 90%;
    max-width:800px;
}

.introduction p{
	width: 90%;
    max-width:800px;
    font-family: "Lora",Georgia,"Times New Roman",Times,serif;
    font-style: italic;
    font-size:26px;
    font-weight: 100;


}