li {
	float:left;
	border: 2px solid grey;
	padding: 10px;
}

img {
	max-width: 400px;
}

h1 {
	font-family: 'Raleway', sans-serif;
	margin: 0 auto;
}

h2 {
	margin: 0 auto;
}

.container {
	width: 90%;
	max-width: 500px;
	margin: 0 auto;

}

p {
	font:18px/24px 'Raleway', sans-serif;
}