img {
	max-width: 200px;
	margin: 0 auto;
	display:block;
}

h1 {
	font: 48px/48px 'Raleway', sans-serif;
	font-variant: small-caps;
	font-weight: 600;
}

.container {
	width: 90%;
	max-width: 500px;
	margin: 0 auto;

}

p {
	font:18px/24px 'Raleway', sans-serif;
}