h1 {
    color: white;
    background: #000;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    width: 100%;
}

/* #introduction {
    font-size: 30px;
    padding-top: 40px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 40px;
    line-height: 45px;
    width: 80%;
    min-width: 500px;
    text-align: justify;
}

*/

#body{
    min-width: 400px;
}
#project_container {
    width: 1200px;
    margin: 0 auto;
}



.projects  {
    width: 300px;
    float: left;
    margin-top: 20px;
    margin-left: 27px;
    margin-right: 27px;
    margin-bottom: 20px;
    border: 2px;
    border-style: dashed;
    border-color: #000;
    padding: 20px 20px 10px 20px;
}

.label {
    background-color: #000;
    float: right;
    margin-top: 8px;
}    
    
/*Media Queries*/
@media only screen and (max-width : 1199px),
only screen and (max-device-width : 1199px){
    #project_container {
        width: 800px;
    }
}
 
 
@media only screen and (max-width : 999px),
only screen and (max-device-width : 999px){
    #project_container {
        width: 800px;
    }
}
 
@media only screen and (max-width : 799px),
only screen and (max-device-width : 799px){
    #project_container {
        width: 400px;
    }
}
 
@media only screen and (max-width : 599px),
only screen and (max-device-width : 599px){
    #project_container {
        width: 400px;
    }
}