body {
	width:480px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}

#live {
	color: #bced09;
}

#inprogress {
	color: #f9cb40;
}

#backlog {
	color: #ff715b;
}

#onice {
	color: #2f52e0;
}

ul {
	list-style-type: none;
}

li {
	font: 15px/20px 'Verdana', sans-serif;
}

h3 {
	font: 18px/24px 'Raleway', sans-serif;
	font-weight: bold;
	font-weight: bolder;
	margin-bottom: 4px;
}

#button {
  width: 46px;
  height: 15px;
  background-color: #2f52e0;
  moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border: 5px solid #2f52e0;
  padding: 5px;
}

#button p{
	margin-top: 0;
	color: #fff;
}

#button a{
	text-decoration: none;
}